.container {
    // background-color: skyblue;
    background-color: gray;
    border: 5px solid black;
}
// .form-check-inline{
//     text-align: center;
// }
// *{
//     background-color: skyblue;
// }
.form-label,
.col-form-label,
.form-check-label{
    color: black;
    font-size: large;
}
.navigation{
    background-color: black;
}
// .text-center{
//     background-color: blue;
// }
.navbar{
// text-align: center;
// margin-top: ;
// margin-left: 5px;
// margin-right:5px;
width:104%;
left: -12px;
}
h1{
    color: black;
}
.form{
    border: 5px solid grey;
}
i{
    margin-right: 10px;
}
// img{
//     width: 10%;
//     height: 10%;
// }
.form-check-input{
    accent-color: black;
}
input[type="radio"]{
    color: white;
}